/****** Objeto:  Table [dbo].[Coordenadas]    Fecha de la secuencia de comandos: 03/28/2018 09:28:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coordenadas](
	[Color1X] [nchar](10) NULL,
	[Color1Y] [nchar](10) NULL,
	[Color2X] [nchar](10) NULL,
	[Color2Y] [nchar](10) NULL,
	[NMesa1X] [nchar](10) NULL,
	[NMesa1Y] [nchar](10) NULL,
	[NMesa2X] [nchar](10) NULL,
	[NMesa2Y] [nchar](10) NULL,
	[FG1X] [nchar](10) NULL,
	[FG1Y] [nchar](10) NULL,
	[FG2X] [nchar](10) NULL,
	[FG2Y] [nchar](10) NULL,
	[Talla1X] [nchar](10) NULL,
	[Talla1Y] [nchar](10) NULL,
	[Talla2X] [nchar](10) NULL,
	[Talla2Y] [nchar](10) NULL,
	[Piezas1X] [nchar](10) NULL,
	[Piezas1Y] [nchar](10) NULL,
	[Piezas2X] [nchar](10) NULL,
	[Piezas2Y] [nchar](10) NULL,
	[Bulto1X] [nchar](10) NULL,
	[Bulto1Y] [nchar](10) NULL,
	[Bulto2X] [nchar](10) NULL,
	[Bulto2Y] [nchar](10) NULL,
	[Serie1X] [nchar](10) NULL,
	[Serie1Y] [nchar](10) NULL,
	[Serie2X] [nchar](10) NULL,
	[Serie2Y] [nchar](10) NULL,
	[Tiket1X] [nchar](10) NULL,
	[Tiket1Y] [nchar](10) NULL,
	[Tiket2X] [nchar](10) NULL,
	[Tiket2Y] [nchar](10) NULL
) ON [PRIMARY]
