/*
   domingo, 04 de mayo de 201402:03:05 p.m.
   Usuario: sa
   Servidor: JUAN\SQL2005
   Base de datos: SistemaNominaNitacsa
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar esta secuencia de comandos detalladamente antes de ejecutarla fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.SolicitudVacaciones ADD
	Anulado bit NULL
GO
ALTER TABLE dbo.SolicitudVacaciones ADD CONSTRAINT
	DF_SolicitudVacaciones_Anulado DEFAULT 0 FOR Anulado
GO
COMMIT
