USE [SistemaNominasNorteak]
GO
/****** Objeto:  Table [dbo].[_Finca]    Fecha de la secuencia de comandos: 02/14/2012 07:30:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Finca](
	[IdFinca] [int] IDENTITY(1,1) NOT NULL,
	[Finca] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Finca] PRIMARY KEY CLUSTERED 
(
	[IdFinca] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Finca] UNIQUE NONCLUSTERED 
(
	[Finca] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
